@import url(@/assets/styles/fonts.scss);

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
  font-family:
    Nunito,
    Spartan,
    ITC Avant Garde Gothic,
    ITC Avant Garde Gothic Std Bk,
    sans-serif;
  scroll-behavior: smooth;
  --color-primary: green;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family:
    ITC Avant Garde Gothic,
    Spartan,
    Nunito,
    ITC Avant Garde Gothic Std Bk,
    sans-serif;
}
