@import url(@/assets/styles/fonts.scss);

:root {
  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  box-sizing: border-box;
  font-family:
    Nunito,
    Spartan,
    ITC Avant Garde Gothic,
    ITC Avant Garde Gothic Std Bk,
    sans-serif;
  scroll-behavior: smooth;
  --color-primary: green;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background: white;
  scrollbar-width: thin;
  scrollbar-color: red;
  font-family:
    ITC Avant Garde Gothic,
    Spartan,
    Nunito,
    ITC Avant Garde Gothic Std Bk,
    sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

#section-welcome::before,
.page-content::after {
  content: '';
  position: absolute;
  border-radius: 0px 0px 100%;
  background-color: rgb(120, 216, 183);
  width: 30%;
  height: 500px;
  transform: translate(0px, 20px) scale(1.2);
  z-index: -1;
  opacity: 0.2;
  filter: blur(80px);
}

#section-welcome::before {
  left: 0px;
  top: 0px;
  opacity: 0.2;
}
.page-content::after {
  right: -200px;
  bottom: -250px;
  opacity: 0.15;
}

@media (min-width: 320px) and (max-width: 667px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
